<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="well text-center">
            <h2>About Us</h2>
            <p>Welcome to "Testarosa".  We are a development of developers, entrepeneurs, and investors.  Sign up to begin connecting with us.</p>
        </div>
    </div>
</div>