<div class="jumbotron text-center">
    <h1>Justin's Big Ol' Test Site</h1>
    <h3>Ain't no use mincin' words.  This here's where the magic happens.  Strap yo'selves in, boys n girls, cuz here comes the magic!</h3>
</div>