.job_title_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 4px;
    background-color: #337ab7;
    color: white;
    text-align: center;
}

.well.profile_block {
    color: #fff;
    h3 {
        margin: 0;
    }
}

.well.profile_description {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.well.contact_info {
    background-color: #269abc;
    border-color: #1b6d85;
}